body {
  font-family: "Roboto", sans-serif;
  /*font-family: "Raleway", sans-serif;*/
  color: #434455;
  background-color: #ffffff;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
}
h2,
h3 {
  color: #2e2f42;
}
h1,
h2 {
  text-align: center;
}
.order-butt {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}

header {
  color: #ffffff;
}
.hero-text {
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
}
.navigation-links a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}
.navigation-links .logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2f42;
  font-size: 18px;
  font-weight: bold;
}
.foot-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: bold;
}
.web-logo {
  color: #4d5ae5;
}
.addr-links a {
  color: #2e2f42;
}
.our-team {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.text-footer {
  color: #f4f4fd;
}
